/* Zerar as margens de todos os elementos
da página. Margens externas e internas */

@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  /* Utilizado para as margens e os padding partem de dentro da caixa, impedindoa a barra de rolagem */
}

html{
    scroll-behavior: smooth; /* Rolagem suave */
}


/* Vamos adicionar uma imagem ao fundo do Header */
header{
    background-image: url('../img/fundo1.jpg');
    /* Ajustar o tamanho da imagem em 100% de largura */
    background-size: 100%;
    /* Ajustar a posição da imagem em X e Y */
    background-position: 0px -300px;
    padding: 30px;
    height: 500px;
}
h1{
    /* Mudar cor da letra */
    color: white;
    /* Alterar o tipo de letra */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    /* Alterar o tamanho da caixa (alta ou baixa) */
    text-transform: uppercase;
    margin-right: 250px;
}

nav{
    /* Tornando o conteúdo do nav flexivel. Isso permitr que
    os elementos fiquem um ao lado do outro */
    display: flex;
    /* Alinhamento vertical dos elementos qye estão no nav */
    align-items: center;
}

ul{
    /* Retirar o marcador da lista */
    list-style: none;
}
header ul li{
    /* Vamos ajustar a disposição (display)
    dos itens da lista em formato de linha */
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px;
}
header ul li:hover{
    background-color: #3e2723;
}
header ul li a{
    color: white;
    /* Retirar o underline */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
header>h2{
    padding: 30px;
    color: white;
    text-align: center;
    margin-top: 150px;
    font-family: "Reddit Mono", monospace;
    font-size: 25pt;
    font-weight: 450;
    text-shadow: 0px 0px 5px black;
}

header>p{
    font-family: "Playfair Display", serif;
    font-size: 18px;
    color:white;
    text-align:center;
    padding-top: 10px;;
    margin-left:50px;
    margin-right:50px;
    text-shadow: 0px 0px 5px black;
}
/* --------- Formatação da página index ---------- */
main>h2{
    font-family: "Lobster", sans-serif;
    font-size: 30pt;
    margin: 50px;
    color: #3e2723;;
}
main #home p{
    font-family: arial;
    margin: 0px 50px 30px 50px;
    text-align: justify; /* Alinhar dos dois lados */
    font-size: 12pt;
    /* O comando line-height define a altura da
    linha (espaçamento entre linhas). Estamos usando
    uma altura de 1,5, ou seja, o tamanho da fonte mais meio (metade)
    do tamanho da fonte */
    line-height: 18pt; /* Metade do Font-size + font-size ex: size 12/2 = 6 = 12 + 6 =18pt*/
}
main #imghome img{
    margin: 20px;
    width: 300px;
    height: 300px;
    /* Arredondar os cantos da imagem */
    border-radius: 50%;
    /* Vamos aplicar um efeito de transparência a imagem, usando
    o comando opacity que varia entre 0 e 1, ou seja, se você aplicar
    0.6, siguinifica que está usando 60% de opacidade. Isto represente
    60% de visibilidade */
    opacity: 0.6;
    /* O comando transition realiza uma animação de transição
    que você pode configurar com o tipo de transição e o tempo
    da transição */
    transition: ease 2s;
}
main #imghome{
    text-align: center;
}
main #imghome img:hover{
    opacity: 1;
}

/* -------- Formatação Cardápio -------- */

main #categoria-cardapio{
    width: 80%;
    /* Centralizar a caixa categoria modificando
    a margem da esquerda e da direita com auto de automático */
    margin-left: auto;
    margin-right: auto;
    /* Aplicar a disposição flex para deixar
    as imagens uma ao lado da outra */
    display: flex;
    /* Alinhar o conteúdo ao centro */
    justify-content: center;
    align-content: center;
    margin-top: -70px;
}
.itemcardapio{
    text-align: center;
    margin: 5px;
}
.itemcardapio img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    box-shadow: 0px  0px 10px #3e2723;
    margin-bottom: 10px;
}
.itemcardapio>a{
    font-family: "Courgette", cursive;
    text-decoration: none;
    color: #3e2723;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.item{
    width: 32%; /* Como quero 3 elementos em linha divido 100%/3 */
    display: flex;
    margin: 10px;
}

.item img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.item div h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 5px;
}

.item div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 5px;
    line-height: 15pt;
}

#cafes h2{
    margin-left: 450px;
    margin-right: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    text-align: center;
    margin-top: 25px;
}

#salgados h2{
    margin-left: 450px;
    margin-right: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    text-align: center;
    margin-top: 25px;
}

#doces h2{
    margin-left: 450px;
    margin-right: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    text-align: center;
    margin-top: 25px;;
}

#sucos h2{
    margin-left: 450px;
    margin-right: 450px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    text-align: center;
    margin-top: 25px;
}

/* --------- Página Quem Somos ---------  */

#paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 18pt;
    margin: 20px 100px;
    text-align: justify;
}

#video{
   text-align: center;
}

#video iframe{
    width: 80%;
    height: 400px;
    margin: 50px;
}

footer{
    background-color: #3e2723;
    display: flex;
    justify-content: space-between;
    
    height: 200px;
    padding: 35px;
    padding-top: 99px;
    padding-bottom: 106px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #fff;
}
footer #rede li{
    /* Colocar as redes em linha */
    display: inline-block;
    margin-right: 10px;
}

